[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap4 = "*"
pillow = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"
python-decouple = "*"
django-heroku = "*"
config = "*"
importlib-metadata = "*"
zipp = "*"
django-registration = "*"

[dev-packages]

[requires]
python_version = "3.8"
